<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Comment</key>
    <string>For use in Custom Setting payload for profiles. Use com.apple.driver.AppleIRController as Preference Domain.</string>
	<key>DeviceEnabled</key>
	<false/>
</dict>
</plist>
